.challenges-section {
  @include media(desktop) {
  }
}

.challenges-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.challenges-container {
  @include media(desktop) {
  }
}

.challenges-content-wrapper {
  box-shadow: 12px 12px 36px 0 rgba(66, 52, 52, 0.3);
  border-radius: 48px;
  padding: 40px 16px;
  background-image: url(../img/challenges/challenges-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    border-radius: 64px;
    padding: 64px;
    background-image: url(../img/challenges/challenges-bg-desk.png);
  }
}

.challenges-title {
  color: #0f2034;
  text-align: left;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.challenges-text-wrapper {
  max-width: 198px;

  @include media(desktop) {
    max-width: 576px;
  }
}

.challenges-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #0f2034;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.challenges-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.challenges-list-item {
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
  }
}

.challenges-icon {
  min-width: 20px;
  stroke: #414141;
  fill: transparent;

  @include media(desktop) {
  }
}

.challenges-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #0f2034;

  @include media(desktop) {
    font-size: 18px;
  }
}

.challenges-bottom-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #0f2034;

  @include media(desktop) {
    font-size: 18px;
  }
}
