.faq-section {
  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 64px;
  }
}

.faq-text-wrapper {
  background: #f33c74;
  border-radius: 40px;
  padding: 40px 16px;

  @include media(desktop) {
    padding: 40px;
    max-width: 749px;
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-subtitle {
  margin-bottom: 40px;

  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
  }
}

.faq-list-item {
  background: #fff;
  border-radius: 16px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 311px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 669px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #ff3503;
  text-align: left;

  @include media(desktop) {
    font-size: 20px;
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #11091c;
  max-width: 255px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 16px;
    max-width: 613px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
}

.faq-img {
  box-shadow: 0 4px 32px 0 rgba(243, 60, 116, 0.6);
  border-radius: 40px;

  @include media(desktop) {
    min-width: 467px;
  }
}
