<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <h2 class="section-title about-title">How to about</h2>
        <p class="about-text">The puzzles get more interesting as you go</p>
        <ul class="about-list">
          <li class="about-list-item">
            <img
              class="about-img"
              src="./img/about/about-img1.png"
              alt="Screenshot of the game"
              width="102"
              height="102"
              loading="lazy"
            />
            <p class="about-item-text">Spin the wheel to unlock a path</p>
          </li>
          <li class="about-list-item">
            <img
              class="about-img"
              src="./img/about/about-img2.png"
              alt="Screenshot of the game"
              width="102"
              height="102"
              loading="lazy"
            />
            <p class="about-item-text">
              Align similar colors to activate a about
            </p>
          </li>
          <li class="about-list-item">
            <img
              class="about-img"
              src="./img/about/about-img3.png"
              alt="Screenshot of the game"
              width="102"
              height="102"
              loading="lazy"
            />
            <p class="about-item-text">
              Bigger abouts free up space and prepare for further moves
            </p>
          </li>
          <li class="about-list-item">
            <img
              class="about-img"
              src="./img/about/about-img4.png"
              alt="Screenshot of the game"
              width="102"
              height="102"
              loading="lazy"
            />
            <p class="about-item-text">
              Use boosters wisely to overcome tricky layouts
            </p>
          </li>
          <li class="about-list-item">
            <img
              class="about-img"
              src="./img/about/about-img5.png"
              alt="Screenshot of the game"
              width="102"
              height="102"
              loading="lazy"
            />
            <p class="about-item-text">
              The puzzles get more interesting as you go
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
