<section class="section challenges-section" id="challenges">
  <div class="challenges-bg-wrapper">
    <div class="container challenges-container">
      <div class="challenges-content-wrapper">
        <div class="challenges-text-wrapper">
          <h2 class="section-title challenges-title">Challenges</h2>
          <div class="challenges-text-wrapper">
            <p class="challenges-text">Highlight challenge dynamics:</p>
            <ul class="challenges-list">
              <li class="challenges-list-item">
                <svg class="challenges-icon" width="20" height="20">
                  <use href="./img/sprite.svg#icon-circle"></use>
                </svg>
                <p class="challenges-item-text">
                  Increasing variety of coin types
                </p>
              </li>
              <li class="challenges-list-item">
                <svg class="challenges-icon" width="20" height="20">
                  <use href="./img/sprite.svg#icon-circle"></use>
                </svg>
                <p class="challenges-item-text">
                  You'll run into tricky stuff like frozen coins and ones that
                  are linked together
                </p>
              </li>
              <li class="challenges-list-item">
                <svg class="challenges-icon" width="20" height="20">
                  <use href="./img/sprite.svg#icon-circle"></use>
                </svg>
                <p class="challenges-item-text">
                  New board layouts push logic in subtle ways
                </p>
              </li>
            </ul>
            <p class="challenges-bottom-text">
              If you get stuck, there are power-ups to help you out
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
