<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <img
          class="contact-img"
          src="./img/contact/contact-img.png"
          alt="Screenshot of the game"
          width="117"
          height="135"
          loading="lazy"
        />
        <div class="contact-text-wrapper">
          <h2 class="section-title contact-title">Contact</h2>
          <p class="section-subtitle contact-subtitle">
            <span class="section-subtitle-span">Support</span> and inquiries:
          </p>
          <a href="mailto:info@motionzone.space" class="contact-link">
            <span class="contact-btn-span">info@motionzone.space</span>
            <svg class="arrow-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-email"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
