<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <div class="faq-content-wrapper">
        <h2 class="section-title faq-title">FAQ</h2>
        <ul class="faq-list">
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is Pocket Sort easy to learn?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes — controls and goals are intuitive, and there’s no timer
              pressure.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Does the game get more challenging?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes — new coin types and board patterns appear as you progress.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are there boosters?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes — useful boosts help solve tougher boards.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I play casually?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Definitely! No rushing around - just take it easy and think.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Does it help train the brain?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yeah, figuring out the patterns really helps sharpen your
              thinking.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are there levels?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes — levels increase in difficulty and variety.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
