<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <h2 class="section-title gameplay-title">Gameplay</h2>
        <p class="gameplay-text">
          Take your time and think it through - there's no clock ticking
        </p>
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img1.png"
              alt="Screenshot of the game"
              width="182"
              height="182"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              Drag and sort colored coins into their slots
            </p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img2.png"
              alt="Screenshot of the game"
              width="182"
              height="182"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              Merge identical coins to form higher tiers
            </p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img3.png"
              alt="Screenshot of the game"
              width="182"
              height="182"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              Clear the board to complete puzzles
            </p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img4.png"
              alt="Screenshot of the game"
              width="182"
              height="182"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              New coin types and patterns introduced over time
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
