<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-title-desk.png"
            media="(min-width: 1440px)"
            width="522"
            height="271" />
          <source
            srcset="./img/hero/hero-title-mob.png"
            width="343"
            height="178" />
          <img
            class="hero-title-img"
            src="./img/hero/hero-title-mob.png"
            alt="Title"
            width="343"
            height="178"
        /></picture>
        <p class="hero-subtitle">Sort. Merge. Master the Pattern.</p>
        <p class="hero-text">
          Move coins strategically to clear the board and advance through
          relaxed, satisfying puzzles.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.pocket.sort.coin.puzzle.game&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="playstore-icon" width="30" height="34">
            <use href="./img/sprite.svg#icon-playstore"></use>
          </svg>
          <div class="hero-btn-text-wrapper">
            <p class="her-btn-top-text">GET IT ON</p>
            <p class="her-btn-bottom-text">Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
