<section class="section merge-section" id="merge">
  <div class="merge-bg-wrapper">
    <div class="container merge-container">
      <div class="merge-content-wrapper">
        <h2 class="section-title merge-title">How to Merge</h2>
        <p class="merge-text">The puzzles get more interesting as you go</p>
        <ul class="merge-list">
          <li class="merge-list-item">
            <img
              class="merge-img"
              src="./img/merge/merge-img1.png"
              alt="Screenshot of the game"
              width="102"
              height="102"
              loading="lazy"
            />
            <p class="merge-item-text">Spin the wheel to unlock a path</p>
          </li>
          <li class="merge-list-item">
            <img
              class="merge-img"
              src="./img/merge/merge-img2.png"
              alt="Screenshot of the game"
              width="102"
              height="102"
              loading="lazy"
            />
            <p class="merge-item-text">
              Align similar colors to activate a merge
            </p>
          </li>
          <li class="merge-list-item">
            <img
              class="merge-img"
              src="./img/merge/merge-img3.png"
              alt="Screenshot of the game"
              width="102"
              height="102"
              loading="lazy"
            />
            <p class="merge-item-text">
              Bigger merges free up space and prepare for further moves
            </p>
          </li>
          <li class="merge-list-item">
            <img
              class="merge-img"
              src="./img/merge/merge-img4.png"
              alt="Screenshot of the game"
              width="102"
              height="102"
              loading="lazy"
            />
            <p class="merge-item-text">
              Use boosters wisely to overcome tricky layouts
            </p>
          </li>
          <li class="merge-list-item">
            <img
              class="merge-img"
              src="./img/merge/merge-img5.png"
              alt="Screenshot of the game"
              width="102"
              height="102"
              loading="lazy"
            />
            <p class="merge-item-text">
              The puzzles get more interesting as you go
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
