<section class="section visual-section" id="visual">
  <div class="visual-bg-wrapper">
    <div class="container visual-container">
      <h2 class="section-title visual-title">Visual Language</h2>
      <p class="section-subtitle visual-subtitle">
        <span class="section-subtitle-span"
          >We basically stripped out all the UI</span
        >
        clutter because we didn't want anything messing with your flow state.
      </p>
      <div class="visual-content-wrapper">
        <ul class="visual-list">
          <li class="visual-list-item">
            <p class="visual-item-text">High contrast dark backgrounds</p>
          </li>
          <li class="visual-list-item">
            <p class="visual-item-text">Neon accents that react to motion</p>
          </li>
          <li class="visual-list-item">
            <p class="visual-item-text">Long exposure-style trails</p>
          </li>
          <li class="visual-list-item">
            <p class="visual-item-text">Minimal UI elements</p>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/visual/visual-img-desk.png"
            media="(min-width: 1440px)"
            width="496"
            height="374" />
          <source
            srcset="./img/visual/visual-img-mob.png"
            width="160"
            height="322" />
          <img
            class="visual-img"
            src="./img/visual/visual-img-mob.png"
            alt="Screenshot of the game"
            width="160"
            height="322"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
